<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Simple Accounting</a>
    </div>

    <ul class=" navbar-brand nav navbar-nav navbar-right">
          <%= link_to 'Add New Record',add_record_path%>
    </ul>
    
  </div>
</nav>